{% extends "design/base.html" %}
{% load static %}
{% block head %}
  <script src="{% static 'js/mail.js' %}"></script>
{% endblock %}
{% block page-header %}
    联系我们
{% endblock %}
{% block content %}
        <form action="" method="post" onsubmit="return false;">
            {% csrf_token %}
            <label for="contact">发送邮件至管理员:</label>
          <div class="form-group"> 
            <label for="contact">联系方式:</label>
            <input required id="contact" name="contact" type="text" class="form-control"  aria-describedby="basic-addon1"/>
          </div>
          <div class="form-group"> 
            <label for="content">内容:</label>
            <textarea required id="content" name="content" class="form-control" rows="15" ></textarea>
          </div>
          <button onclick="send_mail()" class="btn btn-info">提交</button>
        </form>
{% endblock %}
