{% extends "design/base.html" %}
{% load static %}
{% block page-header %}
核心成员
{% endblock %}
{% block content %}
        <h2 >初创成员</h2>
        <div class="row">
            {% for member in core%}
            <div class="col-md-2">
                <img src="{%static 'img/member/'|add:member.img%}" class='qthead'>
            </div>
            <div class="col-md-4">
                {{member.name}}
                <ul>
                    {%for skill in member.skill %}
                    <li>{{skill}}</li>
                    {%endfor%}
                </ul>
            </div>
            {%endfor%}
        </div>
        <hr class="my-2">
{% endblock %}

