.qtback_home{
    background-position:center;
    background-size:cover;
    background-image:url(/static/img/about.png);
}

.qtback_member{
    background-position:center;
    background-size:cover;
    background-image:url(/static/img/member.png);
}

.qtcover{
    background:rgba(7, 54, 66,0.8);
}

.qthead{
    max-height:100%;
    max-width:100%;
}
